.header {
    --local-transition: .3s linear;
    grid-area: header;
    font-family: var(--font-mono);
    background: rgba(var(--firstColor-rgb), 1);
    color: rgba(var(--textLightColor-rgb), 1);
    min-width: var(--header-min-width);
    max-width: var(--header-max-width);
    transition: var(--local-transition);
}

.wrapper {
    height: 100vh;
    padding: 10px;
    background: inherit;
    position: fixed;
    max-width: inherit;
    min-width: inherit;
}



.toggleBtn {
    position: absolute;
    top: 50%;
    right: 0px;
    background: inherit;
    border: none;
    cursor: pointer;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    transform: translate(30%, -50%);
}

.hide {
    min-width: var(--header-hide-min-width);
    max-width: var(--header-hide-max-width);
    transition: var(--local-transition);
}



/* Mobile -- 700px*/
@media (max-width: 700px) {
    .header {
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100vw;
        min-width: 100vw;
        max-width: 100vw;
        height: 100px;
        z-index: 2000;
        transition: none;
    }

    .toggleBtn {
        display: none;
    }
}