.filter {
    margin-top: 50px;
}

.filterLst {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.btnFilterActive {
    background-size: 100% 100%;
    transition: var(--transition);
    text-decoration: underline;
}

@media (max-width: 700px) {
    .filterLst {
        flex-direction: column;
    }


    .btnFilter {
        width: 100%;
    }

}