.label {
    display: grid;
    gap: 10px;
    flex: 1 1 auto;
}

.field {
    font-size: 1em;
    background: rgba(0, 0, 0, 0.2);
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: var(--border-radius-lg);
    padding: 15px;
    overflow: hidden;
    transition: var(--transition);
}

.field:focus {
    outline: none;
    background: rgba(var(--color-blue-dark--rgb), 0.5);
}

.field::placeholder {
    color: rgba(255, 255, 255, 0.4);
    font-size: 1em;
    transition: var(--transition);
}


.field:focus::placeholder {
    transform: translate(100%, 0px);
    color: rgba(255, 255, 255, 0);
    font-size: 0em;
}