.form {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-end;
    width: 100%;
    padding: clamp(10px, 2vw, 30px);
    background: rgba(255, 255, 255, 0.2);
    border-radius: var(--border-radius-lg);
    border: 1px solid rgba(255, 255, 255, 0.5);
    font-size: 1.2em;
    gap: 20px;
    backdrop-filter: blur(3px);
}

.fieldset {
    padding: 30px 10px 20px 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    border: 1px solid rgba(255, 255, 255, .6);
    border-radius: var(--border-radius-lg);
}

.legend {
    padding: 10px;
}