.header {
    grid-area: header;
    font-family: var(--font-mono);
    background: none;
    color: rgba(var(--textLightColor-rgb), 1);
    width: 80px;

}

.wrapper {
    --color-alfa: .8;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    padding: 10px;
    position: fixed;
    z-index: 2000;
    width: inherit;
    background: linear-gradient(0deg,
            rgba(var(--color-green-light--rgb), var(--color-alfa)),
            rgba(var(--color-green-dark--rgb), var(--color-alfa)),
            rgba(var(--color-blue-light--rgb), var(--color-alfa)),
            rgba(var(--color-blue-dark--rgb), var(--color-alfa))) fixed;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(6.8px);
    -webkit-backdrop-filter: blur(6.8px);
    border: 1px solid rgba(var(--firstColor-rgb), 0.3);
    transition: var(--transition);
}

.wrapper.expanded {
    width: 328px;
}

.toggleBtn {
    position: absolute;
    top: 50%;
    right: 0px;
    background: none;
    border: none;
    border-right: 4px solid rgba(255, 255, 255, .4);
    box-shadow: 4px 0px 2px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    transform: translate(40%, -50%);
    transition: var(--transition);
}

.toggleBtn::after {
    content: '\276F';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgba(255, 255, 255, .8);
    font-size: 2em;
    transform: translate(20%, -5%);

}

.toggleBtn:hover {
    transform: translate(50%, -50%);
}

.wrapper.expanded .toggleBtn {
    background: rgba(var(--firstColor-rgb), 0);
    transition: var(--transition);
    transform: rotate(180deg) translateX(0%);
}

.wrapper.expanded .toggleBtn:hover {
    transform: rotate(180deg) translateX(30%);
}

/* Mobile -- 700px*/
@media (max-width: 700px) {
    .header {
        background: none;
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100vw;
        min-width: 100vw;
        max-width: 100vw;
        height: 65px;
        z-index: 2000;
        transition: none;
    }

    .wrapper {
        flex-direction: row-reverse;
        height: inherit;
    }

    .wrapper.expanded {
        width: 100vw;
    }

    .toggleBtn {
        display: none;
    }
}