.overlay {
    position: fixed;
    inset: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.9);
    z-index: 2000;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    cursor: pointer;
    animation: showOverlay .5s linear forwards alternate;
}

.overlay::after {
    content: '\2716';
    position: absolute;
    right: 0;
    top: 0;
    font-size: 2em;
    color: red;
    height: 100%;
    width: 6%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: var(--transition);
}

.popup {
    opacity: 0;
    min-width: 280px;
    max-width: 80%;
    width: clamp(280px, 50vw, min-content);
    background: rgba(255, 255, 255, 0.2);
    border-radius: var(--border-radius-lg);
    border: 1px solid rgba(255, 255, 255, .2);
    animation: showPopup .5s linear forwards alternate;
    animation-delay: .7s;
}

.popupContent {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
}

.image {
    object-fit: cover;
    width: 100%;
    height: 80%;
}

@media (max-width: 700px) {
    .overlay::after {
        height: 20%;
        width: 100%;
    }

    .popup {
        max-width: 100%;
    }
}

@keyframes showOverlay {
    0% {
        opacity: 0;
        transform: scale(0);
    }

    100% {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes showPopup {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}