:root {

  --max-width: 1100px;
  --border-radius-lg: 5px;
  --border-radius-big: 10px;
  --font-mono: ui-monospace, Menlo, Monaco, 'Cascadia Mono', 'Segoe UI Mono',
    'Roboto Mono', 'Oxygen Mono', 'Ubuntu Monospace', 'Source Code Pro',
    'Fira Mono', 'Droid Sans Mono', 'Courier New', monospace;

  /*  */
  --transition: .3s linear;
  /*  */

  /*  */
  --firstColor-rgb: 0, 87, 74;
  --Exemple-firstColor-rgb: rgb(0, 87, 74);
  --secondColor-rgb: 68, 151, 160;
  --Exemple-secondColor-rgb: rgb(68, 151, 160);
  --textLightColor-rgb: 240, 255, 255;
  --Exemple-textLightColor-rgb: rgb(240, 255, 255);
  --gradientColor1-rgb: 0, 173, 162;
  --Exemple-gradientColor-rgb: rgb(0, 173, 162);
  --gradientColor2-rgb: 0, 87, 81;
  --Exemple-gradientColor-rgb: rgb(0, 87, 81);
  --gradientColor3-rgb: 0, 119, 128;
  --Exemple-gradientColor-rgb: rgb(0, 119, 128);
  /*  */
  --shadow: inset -2px -2px 3px rgba(0, 0, 0, .5), inset 2px 2px 3px rgba(255, 255, 255, .5), 1px 1px 2px rgba(0, 0, 0, .5);
  --shadow-invert: inset 2px 2px 3px rgba(0, 0, 0, .5), inset -2px -2px 3px rgba(255, 255, 255, .5);
  /*  */

  /*  */

  --color-green-light: #77a78c;
  --color-green-light--rgb: 119, 167, 140;
  --color-green-dark: #3f5f62;
  --color-green-dark--rgb: 63, 95, 98;
  --color-blue-light: #5d7d90;
  --color-blue-light--rgb: 93, 125, 144;
  --color-blue-dark: #2c455d;
  --color-blue-dark--rgb: 44, 69, 93;
  /*  */





  /*  */



  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;

  --primary-glow: conic-gradient(from 180deg at 50% 50%,
      #16abff33 0deg,
      #0885ff33 55deg,
      #54d6ff33 120deg,
      #0071ff33 160deg,
      transparent 360deg);
  --secondary-glow: radial-gradient(rgba(255, 255, 255, 1),
      rgba(255, 255, 255, 0));

  --tile-start-rgb: 239, 245, 249;
  --tile-end-rgb: 228, 232, 233;
  --tile-border: conic-gradient(#00000080,
      #00000040,
      #00000030,
      #00000020,
      #00000010,
      #00000010,
      #00000080);

  --callout-rgb: 238, 240, 241;
  --callout-border-rgb: 172, 175, 176;
  --card-rgb: 180, 185, 188;
  --card-border-rgb: 131, 134, 135;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;

    --primary-glow: radial-gradient(rgba(1, 65, 255, 0.4), rgba(1, 65, 255, 0));
    --secondary-glow: linear-gradient(to bottom right,
        rgba(1, 65, 255, 0),
        rgba(1, 65, 255, 0),
        rgba(1, 65, 255, 0.3));

    --tile-start-rgb: 2, 13, 46;
    --tile-end-rgb: 2, 5, 19;
    --tile-border: conic-gradient(#ffffff80,
        #ffffff40,
        #ffffff30,
        #ffffff20,
        #ffffff10,
        #ffffff10,
        #ffffff80);

    --callout-rgb: 20, 20, 20;
    --callout-border-rgb: 108, 108, 108;
    --card-rgb: 100, 100, 100;
    --card-border-rgb: 200, 200, 200;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  /* overflow-x: hidden; */
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgba(var(--secondColor-rgb), 1);
}

a {
  color: inherit;
  text-decoration: none;
}

li {
  list-style: none;
}

.loader {
  --mainColor: rgb(68, 0, 101);
  --circleColor: rgb(0, 13, 192);
  --silverColor: silver;
  --loaderSize: 100px;
  position: relative;
  min-height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader::after,
.loader::before {
  content: '';
  position: absolute;
  left: 50%;
  top: 50%;
  width: var(--loaderSize);
  height: var(--loaderSize);
  border-radius: 50%;
  border-left: dotted 5px #fff;
  animation: rotate 1.9s infinite linear;

}

.loader::after {
  border-color: rgba(255, 255, 255, 1);
  animation-direction: reverse;

}

.loader::before {
  opacity: 0.5;
  border-color: rgba(255, 255, 255, .7);
}

@keyframes rotate {
  0% {
    transform: rotate(0deg) scale(1.1);
  }

  25% {
    transform: rotate(90deg) scale(1.3);
  }

  50% {
    transform: rotate(180deg) scale(1.5);
  }

  75% {
    transform: rotate(270deg) scale(1.3);
  }

  100% {
    transform: rotate(360deg) scale(1.1);
  }
}

/* Mobile -- 700px*/
@media (max-width: 700px) {
  .loader {
    --loaderSize: 40px;
  }

  .loader::after,
  .loader::before {
    border-width: 3px;

  }
}



@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}