:root {

  --max-width: 4100px;
  --border-radius-lg: 5px;
  --border-radius-big: 10px;
  --font-mono: ui-monospace, Menlo, Monaco, 'Cascadia Mono', 'Segoe UI Mono',
    'Roboto Mono', 'Oxygen Mono', 'Ubuntu Monospace', 'Source Code Pro',
    'Fira Mono', 'Droid Sans Mono', 'Courier New', monospace;

  /*  */
  --transition: .3s linear;
  /*  */
  /* colors */
  --color-green-light: #77a78c;
  --color-green-light--rgb: 119, 167, 140;
  --color-green-dark: #3f5f62;
  --color-green-dark--rgb: 63, 95, 98;
  --color-blue-light: #5d7d90;
  --color-blue-light--rgb: 93, 125, 144;
  --color-blue-dark: #2c455d;
  --color-blue-dark--rgb: 44, 69, 93;
  /*  */
  /* colors 2 */
  --color-green-light: rgb(0, 175, 100);
  --color-green-light--rgb: 0, 175, 100;

  --color-blue-light: rgb(11, 97, 164);
  --color-blue-light--rgb: 11, 97, 164;

  --color-secondary: rgb(255, 146, 0);
  --color-secondary--rgb: 255, 146, 0;

  --color-optional: rgb(255, 73, 0);
  --color-optional--rgb: 255, 73, 0;
  /*  */
  /*  */
  --foreground-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  -webkit-tap-highlight-color: transparent;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgba(var(--color-green-dark--rgb), 1);
}

a {
  color: inherit;
  text-decoration: none;
}

button,
input {
  color: inherit;
  background: transparent;
  border: none;
}

button {
  cursor: pointer;
}


li {
  list-style: none;
}

.displayNone {
  display: none;
}

.displayBlock {
  display: block;
}

/* Link Title */

.linkTitle {
  position: relative;
}

.linkTitle::after {
  content: attr(title);
  position: absolute;
  left: 50%;
  right: 0%;
  top: -50%;
  width: max-content;
  visibility: hidden;
  padding: 7px 10px;
  border-radius: var(--border-radius-lg);
  background: rgba(0, 0, 0, .7);
  box-shadow: var(--shadow-invert);
  color: #fff;
  font-size: 1.3em;
  font-weight: bold;
  transform: rotate(0deg);
  transition: 0s;
}

@media (hover: hover) {
  .linkTitle:hover::after {
    transform: rotate(-10deg);
    visibility: visible;
    transition: var(--transition);
    top: -70%;
  }

  .linkTitle:hover .ico {
    fill: rgba(var(--color-secondary--rgb), 1);
  }
}

/* /// Link Title */




.loader {
  --mainColor: rgb(68, 0, 101);
  --circleColor: rgb(0, 13, 192);
  --silverColor: silver;
  --loaderSize: 100px;
  position: relative;
  min-height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader::after,
.loader::before {
  content: '';
  position: absolute;
  left: 50%;
  top: 50%;
  width: var(--loaderSize);
  height: var(--loaderSize);
  border-radius: 50%;
  border-left: dotted 5px #fff;
  animation: rotate 1.9s infinite linear;

}

.loader::after {
  border-color: rgba(255, 255, 255, 1);
  animation-direction: reverse;

}

.loader::before {
  opacity: 0.5;
  border-color: rgba(255, 255, 255, .7);
}

@keyframes rotate {
  0% {
    transform: rotate(0deg) scale(1.1);
  }

  25% {
    transform: rotate(90deg) scale(1.3);
  }

  50% {
    transform: rotate(180deg) scale(1.5);
  }

  75% {
    transform: rotate(270deg) scale(1.3);
  }

  100% {
    transform: rotate(360deg) scale(1.1);
  }
}

/* Mobile -- 700px*/
@media (max-width: 700px) {
  .loader {
    --loaderSize: 40px;
  }

  .loader::after,
  .loader::before {
    border-width: 3px;

  }
}



@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}