.btn {
    --color-alfa: 1;
    justify-self: end;
    background-size: 125% 125%;
    background-image: linear-gradient(to right bottom,
            rgba(var(--color-green-light--rgb), var(--color-alfa))0%,
            rgba(var(--color-green-dark--rgb), var(--color-alfa))60%,
            rgba(var(--color-blue-light--rgb), var(--color-alfa))80%,
            rgba(var(--color-blue-dark--rgb), var(--color-alfa))100%);
    border: none;
    border-radius: var(--border-radius-lg);
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: background var(--transition);
    padding: 15px 30px;
    font-size: 1.2em;
}

@media (hover: hover) and (pointer: fine) {
    .btn:hover {
        background-size: 100% 100%;
        transition: var(--transition);
    }
}