.socbarWrap {
    display: flex;
    gap: 10px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.btn {
    position: relative;
    --btnSize: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: var(--btnSize);
    height: var(--btnSize);
    background: rgba(255, 255, 255, .3);
    border-radius: 50%;
    box-shadow: var(--shadow);
    transition: var(--transition);
}

.icon {
    width: 70%;
    height: 70%;
    fill: rgba(255, 255, 255, .7);
    overflow: visible;
    transition: var(--transition);
}


/* phoneText */
.phoneText {
    overflow: hidden;
    height: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    position: absolute;
    left: 100%;
    top: 50%;
    transform: translateY(-50%);
    transition: var(--transition);
}

.phoneTextVisible {
    opacity: 1;
    letter-spacing: 2px;
    width: 450%;
    padding-left: 20px;
    transition: var(--transition);
    transition-delay: padding 1s;
}



.phoneTextHidden {
    opacity: 0;
    letter-spacing: -9.5px;
    width: 0;
    padding-left: 0px;
    transition: var(--transition);
    transition-delay: padding 1s;
}

/*  */

/* socIcons */
.socIconsBtn {
    position: relative;
    gap: 4px;
    display: grid;
    grid-auto-flow: column;
}

.socIconsBtnActive::before,
.socIconsBtnActive::after {
    content: '';
    background: rgba(var(--color-blue-light--rgb), 1);
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    transform: translate(50%, calc(var(--btnSize) / 2)) rotate(0deg);
}



.socIconsBtnActive::before {
    animation: socIconsBtnActiveBefore .8s 1s alternate forwards linear;
}

.socIconsBtnActive::after {
    animation: socIconsBtnActiveAfter .8s 1s alternate forwards linear;
}



.socIconsLinks {
    --iconsLinksSize: 7px;
    --iconsLinksBg: rgba(255, 255, 255, .7);
    z-index: -1;
    width: var(--iconsLinksSize);
    height: var(--iconsLinksSize);
    background: var(--iconsLinksBg);
}

.socIconsLinksActive {
    --iconsLinksSize: var(--btnSize);
    --iconsLinksBg: rgba(var(--color-green-light--rgb), 1);
}

.socIconsLinksActive:nth-child(1) {
    transform: translateX(250%);
    transition: width .4s .6s ease-in-out, height .4s .6s ease-in-out, transform .4s .2s ease-in-out, background .4s .2s ease-in-out;
}

.socIconsLinksActive:nth-child(2) {
    transform: translateX(280%);
    transition: width .4s .5s ease-in-out, height .4s .5s ease-in-out, transform .4s .1s ease-in-out, background .4s .2s ease-in-out;
}

.socIconsLinksActive:nth-child(3) {
    transform: translateX(310%);
    transition: width .4s .4s ease-in-out, height .4s .4s ease-in-out, transform .4s ease-in-out, background .4s .2s ease-in-out;
}

.socIconsIcon {
    --iconSize: 0;
    --iconBg: rgba(255, 255, 255, 1);
    width: var(--iconSize);
    height: var(--iconSize);
    fill: var(--iconBg);
}

.socIconsIconActive {
    --iconSize: 30px;
}

.socIconsIconActive:nth-child(1) {
    transition-delay: .5s;
}

.socIconsIconActive:nth-child(2) {
    transition-delay: .4s;
}

.socIconsIconActive:nth-child(3) {
    transition-delay: .3s;
}

/*  */


@media (hover: hover) {
    .phoneTextVisible:hover {
        letter-spacing: 2.5px;
    }

    .btn:hover {
        background: rgba(255, 255, 255, .7);
        transition: var(--transition);
    }

    .btn:hover .icon {
        fill: rgba(var(--color-green-light--rgb), 1);
    }

    .socIconsBtn:hover {
        background: rgba(255, 255, 255, .3);
    }

    .socIconsBtn:hover .socIconsLinks {
        --iconsLinksBg: rgba(var(--color-green-light--rgb), 1);
    }

    .socIconsBtnActive:hover .icon {
        fill: rgba(255, 255, 255, 1);
    }
}

/* Mobile -- 700px*/
@media (max-width: 700px) {
    .socbarWrap {
        gap: 10px;
        flex-direction: row;
        align-items: center;
    }

    .ico {
        width: 30px;
        height: 30px;
    }

    .icoBtn {
        width: 45px;
        height: 45px;
    }

    .socIconsBtnActive {
        transform: rotate(-90deg);
    }

    .socIconsIconActive {
        transform: rotate(90deg);
    }
}


/* Mobile -- 320px*/
@media (max-width: 370px) {
    .socbarWrap {
        gap: 5px;
    }

    .ico {
        width: 25px;
        height: 25px;
    }

    .icoBtn {
        width: 40px;
        height: 40px;
    }
}

@keyframes socIconsBtnActiveAfter {
    0% {
        width: 0;
        height: 0px;
        transform: translate(50%, calc(var(--btnSize) / 2)) rotate(0deg);
    }

    50% {
        width: 50%;
        height: 2px;
        transform: translate(50%, calc(var(--btnSize) / 2)) rotate(0deg);
    }

    100% {
        width: 50%;
        height: 2px;
        transform: translate(50%, calc(var(--btnSize) / 2)) rotate(-45deg);
    }
}

@keyframes socIconsBtnActiveBefore {
    0% {
        width: 0;
        height: 0px;
        transform: translate(50%, calc(var(--btnSize) / 2)) rotate(0deg);
    }

    50% {
        width: 50%;
        height: 2px;
        transform: translate(50%, calc(var(--btnSize) / 2)) rotate(0deg);
    }

    100% {
        width: 50%;
        height: 2px;
        transform: translate(50%, calc(var(--btnSize) / 2)) rotate(45deg);
    }
}