.socbarWrap {
    display: flex;
    gap: 10px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.icoBtn {
    position: relative;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    background: rgba(255, 255, 255, .3);
    border-radius: 50%;
    border: none;
    box-shadow: var(--shadow);
    transition: var(--transition);
}

.icoBtn:hover {
    background: rgba(255, 255, 255, .7);
    transition: var(--transition);
}

.ico {
    width: 30px;
    height: 30px;
    fill: rgba(255, 255, 255, .7);
    overflow: visible;
    transition: var(--transition);
}

.icoBtn:hover .ico {
    fill: rgba(var(--secondColor-rgb), 1);
}

.socbarBtn {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: var(--transition);
}

.socbarBtn::before {
    --color: rgba(255, 255, 255, 0.7);
    content: '';
    width: 7px;
    height: 7px;
    position: absolute;
    background: var(--color);
    box-shadow: -13px 0px 0px var(--color), 13px 0px 0px var(--color);
    border-radius: 50%;
    transition: var(--transition);
}

.socbarBtn:hover::before {
    --color: rgba(var(--secondColor-rgb), 1);

}

.socbarBtn::after {
    cursor: default;
    content: '';
    width: 100vw;
    height: 100vh;
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: -1;
    display: none;
}

.socbar {
    display: flex;
    gap: 10px;
    position: absolute;
    top: 50%;
    left: 0;
    opacity: 0;
    visibility: hidden;
    transition: var(--transition);
    background: rgba(var(--firstColor-rgb), .7);
    padding: 20px 20px 20px 15px;
    border-radius: 0px 5px 5px 0px;
    transform: translate(-100%, -100%) scale(0);

}

.socbar.visible+.socbarBtn::after {
    display: block;
}

.socbar.visible+.socbarBtn::before {
    box-shadow: -9px 6px 0px var(--color),
        -9px -6px 0px var(--color);
    width: 20px;
    height: 2px;
    right: 7px;
}

.socbar.visible {
    opacity: 1;
    visibility: visible;
    transform: translate(38.5%, -100%) scale(1);
}

.icoTitle::after {
    content: attr(title);
    position: absolute;
    left: 50%;
    right: 0%;
    top: -50%;
    width: max-content;
    visibility: hidden;
    padding: 7px 10px;
    border-radius: var(--border-radius-lg);
    background: rgba(0, 0, 0, .7);
    box-shadow: var(--shadow-invert);
    color: #fff;
    font-size: 1.3em;
    font-weight: bold;
    transform: rotate(0deg);
    transition: 0s;
}

.icoTitle:hover::after {
    transform: rotate(-10deg);
    visibility: visible;
    transition: var(--transition);
    top: -70%;
}

/* Mobile -- 700px*/
@media (max-width: 700px) {
    .socbarWrap {
        gap: 10px;
        flex-direction: row;
        align-items: center;
    }

    .ico {
        width: 30px;
        height: 30px;
    }

    .icoBtn {
        width: 45px;
        height: 45px;
    }
}

/* Mobile -- 320px*/
@media (max-width: 370px) {
    .socbarWrap {
        gap: 5px;
        flex-direction: row;
    }

    .ico {
        width: 30px;
        height: 30px;
    }

    .icoBtn {
        width: 40px;
        height: 40px;
    }
}