.mainWrapper {
    display: grid;
    justify-content: start;
    grid-template-areas: 'header main'
        'header footer';
    grid-template-columns: auto 1fr;
    min-height: 100vh;
    width: 100%;
    position: relative;
    background: no-repeat url('./../../../../public/images/bg.jpg'), #0E121B;
    background-size: 100% auto;
}

/* Mobile -- 700px */
@media (max-width: 700px) {
    .mainWrapper {
        grid-template-areas: 'header'
            'main'
            'footer';
        grid-template-columns: 1fr;
    }
}

/* Tablet and Smaller Desktop -- 701px - 1120px  */
@media (min-width: 701px) and (max-width: 1120px) {}


/* Enable hover only on non-touch devices */
@media (hover: hover){
    .card:hover {
        background: rgba(var(--card-rgb), 0.1);
        border: 1px solid rgba(var(--card-border-rgb), 0.15);
    }

    .card:hover span {
        transform: translateX(4px);
    }
}

@media (prefers-reduced-motion) {
    .card:hover span {
        transform: none;
    }
}


@media (prefers-color-scheme: dark) {}