.projectCards {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.countCards {
    margin-top: 20px;
    font-size: 1.5em;
    width: 30%;
    padding: 10px;
    background: rgba(var(--color-green-light--rgb), .8);
    border-radius: var(--border-radius-lg);
    text-align: center;

}

.item-enter {
    opacity: 0;
}

.item-enter-active {
    opacity: 1;
    transition: opacity 500ms ease-in;
}

.item-exit {
    opacity: 1;
}

.item-exit-active {
    opacity: 0;
    transition: opacity 500ms ease-in;
}

/* Mobile -- 700px*/
@media (max-width: 700px) {
    .countCards {
        font-size: 1em;
        width: 100%;


    }
}