.footer {
    grid-area: footer;
    height: 100px;
    background: rgb(6, 33, 33);
    color: #00574a;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}